@using System.Xml.Linq
@model XElement

@{
    ViewBag.Title = "Uppgift 1 - Utbetalningar per ärende";
    var halloj = Model.Elements().GroupBy(x => x.Element("Arendenummer").Value);
}

<h2>Uppgift 1 - Utbetalningar per ärende</h2>
@foreach(var group in halloj){
<table table class="table-bordered table_50">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Status
            </th>
            <th>
                Summa
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arende in group)
        {
        <tr>
            <td>
                @((string?)arende.Element("Datum"))
            </td>
            <td>
                @((string?)arende.Element("Status"))
            </td>
            <td>
                @((string?)arende.Element("Summa"))
            </td>
        </tr>
        
        
        
        }
        <tr>
            <td></td>
            <td></td>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>
}